.main-contain {
  /* border: 6px solid yellow; */
  display: flex;
}

.maincontainer-cart {
 
  display: flex;
  width: 70%;
  margin: auto;
  /* border: 5px solid rgb(38, 248, 90); */
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.cartdiv {
  width: 100%;
  border-bottom: 1px solid rgb(98, 2, 224);
  display: flex;
  flex-direction: row;
}

.btns:hover {
  background-color: red;
  color: white;
  border: none;
  width: 100px;
  height: 30px;
}

.imguse {
  width: 60px;
  height: 80px;
}

#buttonplusminusdiv {
  display: flex;
  width: 90px;
  /* border: 1px solid red; */
  margin: auto;
  margin-top: 20px;
  height: 20px;
  align-content: center;
}

#buttonplusminus:hover {
  background-color: red;
  color: white;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}

#checkoutbutton {
  background-color: red;
  color: white;
  border: none;
  width: 200px;
  height: 35px;
  margin: auto;
  margin-top: 20px;
}
.checkoutbuttonlink {
  color: rgb(255, 255, 255);
}

.shopping-cart-title {
  text-align: center;
  margin-top: 85px;
}
.color-div {
  margin-left: 30px;
  margin-top: 6%;
  display: flex;
  /* border: 1px solid pink; */
  gap: 5%;
  align-items: center;
  width: 70%;
}
.checkoutbutton {
  margin-left: 70px;
  margin-top: 15px;
  /* border: 2px solid yellow; */
  width: 200px;
}
.offer-div {
  border: 5px solid rgb(255, 181, 20);
  width: 30%;
  border-radius: 10px;
  height: 250px;
}

.total-div {
  width: auto;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
}

.image-div {
  width: 200px;
  /* border: 2px solid red; */
}

#clear-cart-button{
  background-color: red;
  color: white;
}
#clear-cart-button:hover{
  background-color: rgb(197, 255, 36);
  color: rgb(0, 0, 0);
}